body {
  margin: 0px;
}

ul {
  list-style: none;
  padding: 5px;
  margin: 0px;
}

.mainContainer{
  display: flex;
  flex-direction: column;
  height: 100vh;
  
}

.mainContainer > main {
  height: 90%;
  
}

.mainContainer > Footer {
 background-color: rgb(237,237,238);
 padding: 15px;
 border-top: 2px solid gray; 
 box-shadow: 1px 2px gray; 
}


h1 {
  padding-left: 20px;
  padding-top: 20px;  
  
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px 0px 20px;
  background-color: rgb(237,237,238);
  border-bottom: 1px solid gray; 
  box-shadow: 1px 2px gray;  
}

.navbar>li {
  display: flex;
  align-items: center;
}

.logo {
  height: 90px;
}

.botonGenerico {
  border: 0px;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bolder;
}

.botonGenerico:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.secondaryButton {
  background-color: #6d7574;
  color: white;
}

.secondaryButton:hover {
  box-shadow: 1px 1px rgb(11, 12, 12);
}

.mainButton {
  background-color: #31bba9;
  color: white;
}

.mainButton:hover {
  box-shadow: 1px 1px rgb(0, 128, 128);
}

.buscar{
  background-color: white;
  border: 1px solid gray;
  padding: 4px;
  border-radius: 8px;
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.buscar:focus-within{
  border: 1px solid blue;
}

.buscar > input {
  outline: none;
  border:0px;
}

.iconoBusqueda:hover{
  color: blue;
}

.breedCardContainer {
  display:flex;
  flex-wrap: wrap;
}

.breedCard {
  margin: 15px;
  background-color: #6d7574;
  box-shadow: 5px 10px 6px rgb(99, 98, 98);
  border-radius: 10px;
}

.breedTitle {
  color: white;
  margin: 10px;
  font-weight: bold;
  font-size: x-large;
}

.contenedorImagen {
  width: 240px;
  height: 350px;
  display: flex;
  margin-bottom: 10px;
}

.contenedorImagen:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.contenedorImagen > img {
  object-fit:cover;
  width: 240px;
  border-top-right-radius:10px ;
  border-top-left-radius:10px;
}

